
@font-face {
    font-family: "Malberg";
    src: url(../font/MalbergTrial-Heavy.ttf);
}

@font-face {
    font-family: "hello_januari";
    src: url(../font/hello_januari/Hello\ Januari.ttf);
}


body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:darkseagreen;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background:linear-gradient(white,yellow);
}

.messi{
    width: 100%;
    padding: 0px;
}

.barra {
    text-decoration: yellow;
    display: inline-block;
    margin-right: 20px; 
}
.barra:hover{
    background-color: green;
}

.barra_opciones {
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.logo_container{
    background-color: skyblue;
    position: relative;

}
.logo {
    width: 100px;
}

#titulologo{
    font-family:"hello_januari";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

h1{
    font-style: italic;
    color: brown;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.liga{
    text-decoration: underline;
    color:rgb(206, 13, 180);
}

#bienvenido{
    font-family:"Malberg";
    color:gray;
}

h3{
    color:darkgoldenrod;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
}

.subr{
    text-decoration: underline;
    font-family: cursive;
    color: sienna;

}

h2{
    text-decoration: underline;
    color:darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4{
    color:green;
    font-family: 'Times New Roman', Times, serif;
}

.maradona{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equipos-container {
    background: linear-gradient(135deg, #d3ddd4, #64B5F6)  ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    display: flex;
    flex-direction: row; 
    overflow-x: auto; 
    margin: 20px;
}

.equipos_30, .equipos_libre, .equipos_libresem, .equipos_50, .fixture_libres, .fixture_30, .fixture_semanal, .fixture_50{
    min-width: 300px;
    margin-right: 20px;
}


th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.equipos_titulo{
    color:blue;
    font-weight: bold;
}

.tit, .foto_fecha{
    text-decoration-color: white;
    color:darkgoldenrod;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.imagen_fecha {
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    margin: 10px; 
}

.imagen_fecha img {
    width: 200px; 
    height: 200px; 
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 10px; 
}

.fixture_container{
    background: linear-gradient(135deg, #d3ddd4, #FF8A80);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 20px;
}

.fixture_detalle {
    font-size: 16px;
    font-family: "Arial", sans-serif; 
    color:#4745bb;
    font-weight: bold;
}


.contacto {
    display: grid;
    grid-template-columns: 50% 50%; 
    gap: 10px; 
    align-items: center; 
}

.contacto_imagen {
    grid-column: 1 / 2;
    
}

.contacto_imagen img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: 50%;
    margin-right: 20%;
    margin-bottom: 150px;
}

.contacto_formulario {
    grid-column: 2 / 3;
    margin-right: 60%;
    margin-top: -40%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 768px) {
    .contacto {
        flex-direction: column;
        align-items: center;
    }

    .contacto_imagen {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contacto_formulario {
        max-width: none;
    }
    #titulologo {
        font-size: 20px;
        left: 60%;
}
.equipos-container {
    flex-direction: column;
    align-items: center;
}

.equipos_30,
.equipos_libre,
.equipos_libresem,
.equipos_50,
.fixture_libres,
.fixture_30,
.fixture_semanal,
.fixture_50 {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 10px;
}
}


footer {
    background-color: #012510;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

footer img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px; 
}

footer div {
    display: flex;
    align-items: center;
}

footer span {
    font-family: "hello_januari";
    text-align: center;
}
.contacto{
    text-align: left;
    display: block;
}